@mixin sm {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$breakpoint-ipad}) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  overflow-x: hidden;
}

// Colors

// Primary
$color-dark-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);

// Neutral
$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish-blue: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// Breakpoints
$breakpoint-ipad: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 499px;

// Typography
.copyright,
.credits {
  font-size: 1.4rem;
}

// utilities
.u-box-padding {
  text-align: left;
  padding: 2rem;
}
.u-footer-text {
  text-align: right;
  @include md {
    margin-top: 2rem;
    text-align: center;
  }
}
.u-display-block {
  display: block;
}
.u-grid-item-xl {
  flex: 2;
}

span[aria-hidden='true'] {
  display: none;
}
