.btn {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 100px;
    background-image: linear-gradient(
      to right,
      $color-lime-green,
      rgba($color-bright-cyan, 0.5)
    );
    transition: all 0.3s;
  }
  &:hover {
    background-image: linear-gradient(
      to right,
      $color-bright-cyan,
      rgba($color-lime-green, 0.5)
    );
  }
  &-small {
    font-size: 1rem;
    padding: 1rem 2.5rem;
    display: inline-block;
    width: max-content;
  }
  &-large {
    font-size: 1.8rem;
    padding: 1rem 3rem;
  }
  &-header {
    display: block;
    @include md {
      display: none;
    }
  }
  &-footer {
    width: fit-content;
    align-self: flex-end;
    @include md {
      align-self: center;
    }
  }
}

.responsive-menu {
  display: none;
  @include md {
    display: block;
  }
}

.grid {
  margin: 6rem 0;
  width: 100%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  @include lg {
    grid-template-columns: auto auto auto;
  }
  @include md {
    grid-template-columns: auto auto;
    text-align: center;
  }
  @include sm {
    grid-template-columns: auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.social {
  &__link {
    &:not(:last-child) {
      margin-right: 1rem;
    }
    svg {
      fill: $color-white;
      transition: fill 0.5s;
    }
    &:hover svg path {
      fill: $color-lime-green;
    }
  }
}
