.header {
  display: flex;
  padding: 0 8rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  background-color: $color-white;
  @include md {
    max-width: 100vh;
    padding: 2rem;
    height: auto;
  }
  &__logo {
    &:link,
    &:visited {
      text-decoration: none;
    }
    img {
      vertical-align: bottom;
      @include md {
        vertical-align: middle;
      }
    }
  }

  &__menu {
    display: flex;
    margin: 2.5rem 0 0;
    align-items: center;
    @include md {
      margin: 0;
    }
    &__navigation {
      list-style: none;
      display: flex;
      @include md {
        display: none;
        position: absolute;
        top: 12rem;
        left: 1rem;
        right: 1rem;
        margin: 0 1rem;
        border: 2px solid $color-very-light-gray;
        background-color: $color-white;
        z-index: 999;
        border-radius: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      li {
        margin: 0 2rem;
        @include md {
          margin: 0;
        }
      }
      li a {
        &:link,
        &:visited {
          text-decoration: none;
          text-align: center;
          color: $color-grayish-blue;
          font-size: 1.6rem;
          font-weight: 300;
          display: block;
          padding-bottom: 1.5rem;
          border-bottom: 3px solid transparent;
          @include md {
            padding: 1rem;
          }
        }
        &:hover {
          color: $color-dark-blue;
          font-weight: 400;
          border: 0;
          border-bottom: 3px solid transparent;
          background-origin: border-box;
          background-clip: padding-box, border-box;
          background-image: linear-gradient(white, white),
            linear-gradient(to right, $color-lime-green, $color-bright-cyan);
        }
        &:active {
          transform: translateY(2px);
        }
      }
    }
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @include md {
    flex-direction: column-reverse;
  }
  &__content {
    padding: 10rem 8rem;
    width: 60%;
    margin: 0 auto;
    @include lg {
      width: 100%;
    }
    @include md {
      width: 100%;
      padding: 0 2rem;
      text-align: center;
    }
    &__header {
      font-size: 6rem;
      font-weight: 300;
      color: $color-dark-blue;
      line-height: 6rem;
      @include sm {
        font-size: 4rem;
      }
    }
    &__subtitle {
      color: $color-grayish-blue;
      margin: 3rem 0;
    }
  }

  &__image {
    background: url('../images/bg-intro-desktop.svg') no-repeat;
    background-size: 150% 80%;
    z-index: 20;
    transform: translateY(-13%);
    @include md {
      background: url('../images/bg-intro-mobile.svg') no-repeat;
      background-size: cover;
      margin-top: -23%;
      padding: 1rem 0;
    }
    img {
      display: block;
      margin-left: 12rem;
      width: 100%;
      @include md {
        margin-left: 0;
      }
    }
  }
}
.features {
  width: 100%;
  margin-top: -28rem;
  background-color: $color-very-light-gray;
  padding: 8rem;
  z-index: -400;
  @include lg {
    margin-top: -10rem;
  }
  @include md {
    margin: 0;
    padding: 2rem;
    margin: 6rem 0;
  }
  &__intro {
    width: 50%;
    @include md {
      text-align: center;
      width: 100%;
    }
    &__header {
      font-size: 3rem;
      font-weight: 300;
      color: $color-dark-blue;
    }
    &__subtitle {
      color: $color-grayish-blue;
      margin: 1rem 0;
    }
  }
  &__image {
    width: 72px;
    height: 72px;
    object-fit: none;
    display: block;
    @include md {
      align-self: center;
    }
  }
  &__header {
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-dark-blue;
    margin: 2rem 0;
  }
  &__content {
    color: $color-grayish-blue;
    font-size: 1.6rem;
  }
}

.blog {
  width: 100%;
  padding: 2rem 8rem;
  @include md {
    padding: 2rem;
  }
  &__header {
    font-size: 3rem;
    font-weight: 300;
    color: $color-dark-blue;
  }
  &__image {
    max-width: 261px;
    max-height: 173px;
    width: 100%;
    @include md {
      max-width: 100%;
    }
  }
  &__author {
    color: $color-grayish-blue;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1rem 0;
  }
  &__title {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-dark-blue;
      margin: 1rem 0;
      font-weight: 400;
      line-height: 1rem;
    }
    &:hover {
      color: $color-lime-green;
    }
  }
  &__content {
    font-size: 1.6rem;
    color: $color-grayish-blue;
    font-weight: 300;
    margin: 1rem 0;
  }
}

.footer {
  width: 100%;
  padding: 4rem 8rem;
  background-color: $color-dark-blue;
  color: $color-grayish-blue;
  @include md {
    padding: 4rem 2rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
    }
    &:hover {
      color: $color-lime-green;
    }
  }

  img {
    object-fit: none;
    width: auto;
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    @include md {
      flex-direction: column;
      justify-content: center;
    }
    &__item {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      flex-direction: column;
      height: 12rem;
      @include md {
        justify-content: space-evenly;
        align-items: center;
      }
      &-2 {
        @include md {
          margin-top: 2rem;
        }
      }
      &-3 {
        @include md {
          margin-bottom: 4rem;
        }
      }
    }
  }
}
